@import url('https://vanillacss.com/vanilla.css');

nav {
  margin-top: 1rem;
}

.date {
  width: 100px;
}

table th, table td {
  padding: 0.5rem;
}

.date time {
  font-size: medium;
  font-weight: normal;
}
