{% extends "layout.html" %}

{% block content %}
<hader>
<h1>All Posts</h1>
</header>
{% if posts %}
<table>
  <thead>
    <tr>
      <th class="date">Date</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <td class="date">
	<time datetime="{{ post['date'] }}">{{ post['date'].strftime('%d/%m/%Y') }}</time>
      </td>
      <td><a href="posts/{{ post.stem }}">{{ post.title }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<blockquote>Nothing to show</blockquote>
{% endif %}
{% endblock %}
